:root {
  /* --basic-transition: all .25s linear; */
  --color-1: #322C2B;
  --color-2: #803D3B;
  --color-3: #AF8260;
  --color-4: #E4C59E;
  --basic-border-radius: .25rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Style */
body {
  background-color: var(--color-4);
  color: var(--color-1);
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 45rem;
  margin: auto;
  padding: 1rem;
}

/* Header */
header {
  background-color: var(--color-1);
  display: flex;
}

header .logo {
  color: #FFF;
  font-weight: 500;
  user-select: none;
}

/* Main Style */
main {
  /* color: var(--color-2); */
}

.window {
  border: .1rem solid var(--color-1);
  border-radius: var(--basic-border-radius);
  overflow: hidden;
}

.title-bar {
  padding: 1rem;
  color: #FFF;
  background-color: var(--color-2);
  border-bottom: .1rem solid var(--color-1);
}

.title-bar>* {
  font-weight: 500;
}

.content-bar {
  padding: 1rem;
  background-color: #FFF;
}

.content-bar form {
  display: grid;
  grid-gap: 1rem;
}

/* Input Style */
input,
button {
  outline: none;
  border: none;
}

input {
  border: .1rem solid var(--color-4);
  padding: .5rem;
  border-radius: var(--basic-border-radius);
}

button {
  padding: .5rem;
  display: flex;
  width: 100%;
  background-color: var(--color-3);
  border-radius: var(--basic-border-radius);
  color: #FFF;
  justify-content: center;
  cursor: pointer;
}