:root {
  /* --basic-transition: all .25s linear; */
  --color-1: #322c2b;
  --color-2: #803d3b;
  --color-3: #af8260;
  --color-4: #e4c59e;
  --basic-border-radius: 0.25rem;
  --basic-transition: all 0.125s linear;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Style */
body {
  background-color: var(--color-4);
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
  color: var(--color-1);
}

/* Header */
header {
  background-color: var(--color-1);
  display: flex;
}

header .logo {
  color: #fff;
  font-weight: 500;
}

/* Main Style */
main {
  /* color: var(--color-2); */
}

.container {
  max-width: 45rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.window {
  border: 0.1rem solid var(--color-1);
  border-radius: var(--basic-border-radius);
  overflow: hidden;
}

.title-bar {
  padding: 1rem;
  color: #fff;
  background-color: var(--color-2);
  border-bottom: 0.1rem solid var(--color-1);
}

.title-bar > * {
  font-weight: 500;
}

.content-bar {
  padding: 1rem;
  background-color: #fff;
}

.content-bar form {
  display: grid;
  grid-gap: 1rem;
}

/* Input Style */
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

label {
  font-size: 0.75rem;
  font-weight: 500;
}

input,
button {
  outline: none;
  border: none;
  outline: 0.225rem solid transparent;
  transition: var(--basic-transition);
}

input {
  border: 0.1rem solid var(--color-4);
  padding: 0.5rem;
  border-radius: var(--basic-border-radius);
}

button {
  padding: 0.5rem;
  display: flex;
  width: 100%;
  background-color: var(--color-3);
  border-radius: var(--basic-border-radius);
  color: #fff;
  justify-content: center;
  cursor: pointer;
}

input:focus,
input[type="checkbox"]:hover {
  outline-color: rgba(228, 196, 158, 0.5);
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

button:hover,
button:focus {
  background-color: hsl(26, 33%, 43%);
}

button:focus {
  outline-color: rgba(175, 130, 96, 0.5);
}

/* List Style */
#list-book table {
  border: 1px solid red;
}

/* Toast */
.toast {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-1);
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.5s ease;
  z-index: 9999;
}

.toast.show {
  bottom: 30px;
  opacity: 1;
}
